@model AgentUpdateVM
@{
    ViewData["Title"] = "Update";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Agents</h6>
    </div>
    <div class="card-body">
        <form enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label asp-for="FullName"></label>
                <input class="form-control" asp-for="FullName">
                <span class="text-danger" asp-validation-for="FullName"></span>
            </div>
            <div class="form-row">
                <div class="col">
                    <label asp-for="File">Agent Image</label>
                    <input accept="image/*" class="form-control" asp-for="File">
                    <span class="text-danger" asp-validation-for="File"></span>
                </div>
                <div class="col">
                    <label asp-for="DepartmentId">Departments</label>
                    <select class="form-control" asp-for="DepartmentId" asp-items='new SelectList(ViewBag.Departments,"Id","Name")'><option disabled selected>Select department</option></select>
                    <span class="text-danger" asp-validation-for="DepartmentId"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary my-2">Submit</button>
        </form>
    </div>
</div>



